# Machine Problem 1

In [3303]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

In [3304]:
df = pd.read_csv('food.csv')

1. Remove all duplicates in the dataset. `(6 points)`

In [3305]:
# put your answer here

2. Use the `isnull()` and `.any()` function to check for NaN values in each column. `(6 points)`

In [3306]:
# put your answer here

3. Retrive all rows with NaN values in the dataset by using `isnull()` and `.any()` inside a dataframe. `(6 points)`

In [3307]:
# put your answer here

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
5,2.25,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,1.0,2.0,4,940.0,345,None.,1,2,1315,190
8,3.3,1,1,430,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,...,2.0,2.0,5,725.0,345,none,3,2,760,180
15,NaN,2,2,430,NaN,980.0,2,"cookies, donuts, candy bars",boredom,2.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

4. Put all columns with NaN values in a list. Print the contents of the list. `(6 points)`

In [3308]:
# put your answer here

5. Loop through the list that contains columns with NaN values and use the `.fillna()` function to replace NaN values with empty an string. `(6 points)`

In [3309]:
# put your answer here

6. In th GPA column, replace non-numeric values with zeroes. `(6 points)`

In [3310]:
# put your answer here

7. In the comfort_food column, replace empty values with "none". `(6 points)`

In [3311]:
# put your answer here

8. In the weight column, replace non-numeric values with "". `(6 points)`

In [3312]:
# put your answer here

## Feature Scaling

9. Create a new dataframe which contains the following columns: `(6 points)`
- calories_chicken
- calories_scone
- tortilla_calories
- turkey_calories
- waffle_calories

In [3313]:
# put your answer here

10. Replace empty values on each column with zeroes using the `.replace()` function. `(6 points)`

In [3314]:
# put your answer here

11. Use the `astype()` function to convert all columns of the new dataframe to `int`. `(6 points)`

In [3315]:
# put your answer here

12. Check the datatype of each column of the new dataframe using the `d_types` property. `(6 points)`

In [3316]:
# put your answer here

13. Create a new instance of the `MinMaxScaler()` class. `(6 points)`

In [3317]:
# put your answer here

14. Use the `fit_transform()` function to normalize all calorie features between 0 and 1. `(6 points)`

In [3318]:
# put your answer here

## Discretization

In [3319]:
df['weight'] = df['weight'].replace("", value="0")
df['weight'] = df['weight'].astype(int)

ValueError: invalid literal for int() with base 10: "I'm not answering this. "

15. Use the matplotlib `hist()` function to create a histogram of the distribution of values of the weight column in the dataset. `(6 points)`

In [ ]:
# put your answer here

16. Pass a three (3) bins to the matplotlib `hist()` function to create a histogram of the distribution of values of the weight column. `(6 points)`

In [ ]:
# put your answer here

17. Use the seaborn `histplot()` function to create a histogram:. `(6 points)`

    - Create three bins **0 to 100**, 1**00 to 200**, **200 to 300**
    - Name the first bin from **0 to 100** as **Underweight**
    - Name the second bin from **0 to 100** as **Normal**
    - Name the third bin from **0 to 100** as **Overweight**

    - Set the `set_xticks()` to **0,150,250**
    - Set the `set_xticklabels()` to **"Underweight", "Normal", "Overweight"**

In [ ]:
# put your answer here